body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.controls {
  margin-bottom: 20px;
}

#tree-container {
  position: relative;
  width: 100%;
  height: 500px;
}

.node {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #9be79b;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
}

.bf {
  font-size: 12px;
  position: absolute;
  top: -18px;
  left: -5px;
}

.line {
  position: absolute;
  background: black;
  transform-origin: top left;
}
